:root {
  --brand_primary: #1c1b1b;
  --brand_secundary: #f4dfc8;
  --brand_tertiary: #f4eae0;
  --brand_accent: #c7dca7;
  --greys_beige_dark: #a5947a;
  --greys_beige_90: #c8b598;
  --greys_beige_60: #e6d6bf;
  --greys_beige_20: #f7eddf;
  --greys_beige_white: #faf6f0;
  --status_error: #860a35;
  --status_success: #a3b763;
  --white: #ffffff;
}

.header_container {
  background: radial-gradient(circle at 37%, transparent -46%, #020202 80%),
    url(../assets/fotos/header_backgroubd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 720px;
}
.logo_container {
  width: auto;
}
.logo_container span {
  margin: 0 10px;
  width: 115.66px;
  height: 73px;
}
@media (min-width: 1004px) {
  .header_menu {
    display: flex;
    position: absolute;
    width: 692px;
    height: 73px;
    top: 9px;
    left: -697px;
    z-index: 2;
    list-style: none;
    background-color: transparent;
    border-radius: 20px;
  }
  .menu_logo {
    display: none;
  }
  .menu_button {
    border-radius: 30px;
    background-color: var(--brand_primary);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    height: auto;
    width: auto;
    padding: 14px 26px;
  }
  .menu_container:hover .header_menu {
    display: flex;
  }
  .lower_header {
    height: 368px;
  }
  .lower_header h1 {
    width: 481px;
    height: 144px;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
  }
  .lower_header p {
    width: 534px;
    height: 96px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
  }
  .lower_header button {
    width: 200px;
    height: 48px;
    padding: 8px 24px 8px 24px;
    border-radius: 16px;
  }
}
