
:root{
    --brand_primary:#1C1B1B; 
    --brand_secundary: #F4DFC8;
    --brand_tertiary:#F4EAE0;
    --brand_accent:#C7DCA7;
    --greys_beige_dark:#A5947A;
    --greys_beige_90:#C8B598;
    --greys_beige_60: #E6D6BF;
    --greys_beige_20: #F7EDDF;
    --greys_beige_white: #FAF6F0;
    --status_error:#860A35;
    --status_success:#A3B763;
    --white:#ffffff;
}

.header_container {
    background: radial-gradient( circle at 0.01%,transparent , #020202 60%),url(../assets/fotos/header_backgroubd.jpg);
    background-position: -150px 0px,-113px 50%;
    background-repeat: no-repeat;
    background-size: 160% , 150%;
}
.logo_container span {
    margin: 0 10px;
    width: 91.66px;
    height: 58px;
}

.cheft_space {
    height: 380px;
}





@media (min-width: 470px) {
    .header_container {
        background: radial-gradient( circle at 37%,transparent -46% , #020202 80%),url(../assets/fotos/header_backgroubd.jpg);
        background-repeat: no-repeat;
        background-size: 100%, 125%;
        background-position: 0px 0px, -82px 50%;
    }

    .lower_header h1  { 
        Width:290px;
        Height:80px;
        text-align: right;
        margin: 10px 10px 10px auto;

    }
    .lower_header p {
        text-align: right;
        width: 313px;
        height: 48px;
        margin: 0 10px 0 auto;
    }

    .lower_header button {
        display: block;
        width: 147px;
        height: 40px;
        color: var(--brand_primary);
        background-color: var(--brand_accent);
        border-radius: 20px;
        margin: 10px 10px 0 auto;
        border-width: 0px;
    }
    .cheft_space {
        height: 422px;
    }
}


@media (min-width: 580px) {
    .header_container {
        background: radial-gradient( circle at 37%,transparent -46% , #020202 80%),url(../assets/fotos/header_backgroubd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px 0px, 0px 50%;
    }
    .main_platillos{
        width: 100%;
        position: relative;
        background-image: linear-gradient(black 0.2%,transparent,transparent 40%) ,url(../assets/fotos/sheft_tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    
    }

}